<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
  <link rel="stylesheet" href="charity_donate.css">
  <title>物資募集｜暖 ❤️ 協會</title>
</head>

<body>
  <header>

    <!-- logo圖片 -->
    <img src="Image/Pink White Watercolor Heart Love Yourself First Quote Facebook Post.png" id="logopicture"
      style="float: left; width: 10%; ">



    <!-- 選單 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="Charity_Main.html">暖心基金會</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                認識我們
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_aboutUs.html">協會簡介</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_aboutUs_location.html">協會分點</a></li>
                <li>
                  <!-- <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                最新消息
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_activity.html">暖新消息</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_activity.html">活動訊息</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                捐款/捐物
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="charity_moneydonate.html">愛心捐款</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="charity_donate.html">物資募集</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                愛心義賣
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_sale.html">愛心商品</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                認養孩童
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國內孩童認養</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國外孩童認養</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                加入義工
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_Volunteer.html">我們需要你</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_Volunteer_Join.html">加入義工表單</a></li>
              </ul>
            </li>

          </ul>


          <a href="Charity_Login.html">
            <button onclick="" class="buttons" id="member"><img src="Image/memberlogo.png" alt=""><a
                href="Charity_menbership.html"></a></button>
          </a>
          <a href="Charity_ShoppingCart.html">
            <button onclick="" class="buttons" id="shoppingCart"><img src="Image/shoppingCartLogo.png" alt=""><a
                href="Charity_ShoppingCart.html"></a></button>
          </a>

        </div>
      </div>
    </nav>
  </header>



  <main>


    <h3>國內需求</h3>
    <Table>
      <tr>
        <th class="title">物資名稱</th>
        <th class="title">重量</th>
        <th class="title">所需數量</th>
      </tr>
      <tr>
        <td class="">白米(真空包裝)</td>
        <td class="">2kg</td>
        <td class="">1000包</td>
      </tr>
      <tr>
        <td class="">麵條</td>
        <td class="">300g</td>
        <td class="">570包</td>
      </tr>
      <tr>
        <td class="">鮪魚罐頭</td>
        <td class="">150-250g</td>
        <td class="">300罐</td>
      </tr>
      <tr>
        <td class="">肉鬆</td>
        <td class="">200-300g</td>
        <td class="">450罐</td>
      </tr>
      <tr>
        <td class="">保久乳</td>
        <td class="">200-300ml</td>
        <td class="">1200瓶</td>
      </tr>
      <tr>
        <td class="">沖泡麥片(袋裝)</td>
        <td class="">200-500g</td>
        <td class="">560包</td>
      </tr>
    </Table><br><br>


    <h3>國內需求</h3>
    <Table>
      <tr>
        <th class="title">物資名稱</th>
        <th class="title">重量</th>
        <th class="title">所需數量</th>
      </tr>
      <tr>
        <td class="">蓋毯</td>
        <td class="">尺寸不拘</td>
        <td class="">1000件</td>
      </tr>
      <tr>
        <td class="">簡易帳篷</td>
        <td class="">尺寸不拘</td>
        <td class="">300個</td>
      </tr>
      <tr>
        <td class="">防寒外套</td>
        <td class="">尺寸不拘</td>
        <td class="">300件</td>
      </tr>
      <tr>
        <td class="">尿布</td>
        <td class="">尺寸不拘</td>
        <td class="">1500包</td>
      </tr>
      <tr>
        <td class="">鞋子</td>
        <td class="">尺寸不拘</td>
        <td class="">1200雙</td>
      </tr>
      <tr>
        <td class="">帽子</td>
        <td class="">尺寸不拘</td>
        <td class="">120頂</td>
      </tr>
    </Table><br><br>


    <h3>捐贈說明</h3>
    <ol>
      <li>*歡迎善心人士或企業以上述食物作為優先捐贈內容。</li>
      <li>*食品皆需為常溫保存且效期仍有6個月以上。</li>
      <li>*歡迎各位朋友愛心捐款，或呼朋引伴共同募集物資。</li>
      <li>*採捐款方式可指定採購物資品項，本協會開立之捐款收據可作為抵稅使用。</li>
    </ol>

    <a href="Charity_donate_form.html" class="donateForm">
      <button onclick="" class="donateBtn">我要捐物&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-box2-heart"
          viewBox="0 0 16 16">
          <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982" />
          <path
            d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5Zm0 1H7.5v3h-6zM8.5 4V1h3.75l2.25 3zM15 5v10H1V5z" />
        </svg>
      </button>
    </a>



  </main>

  <!-- 網頁導覽 -->
  <footer class="footer">
    <div class="footercountainer row">
      <div class="footer-col">
        <h4><a href="Charity_aboutUs.html"></a>認識我們</h4>
        <ul>
          <!-- <li><a href="#">服務對象</a></li> -->
          <li><a href="Charity_aboutUs_location.html">服務據點</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>暖新消息</h4>
        <ul>
          <li><a href="#">協會公告</a></li>
          <li><a href="#">活動訊息 </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>關懷與捐款</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">國內兒童資助</a></li>
          <li><a href="Charity_TaiwanChildren.html">國外兒童資助</a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
          <li><a href="Charity_sale.html">愛心義賣</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>其他</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">會員登入</a></li>
          <li><a href="Charity_TaiwanChildren.html"></a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
        </ul>
      </div>
      <div class="footer-col">

        <!-- 社群媒體 -->
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/"><img src="Image/facebooklogo.png" class="icon" id="fbicon" alt=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/"><img src="Image/instagramlogo.png" class="icon" id="insicon" alt=""><i class="fa-brands fa-instagram"></i></a>
          <a href="mailto:joyce07128989@gmail.com"><img src="Image/mailicon.png" class="icon" id="mailicon" alt=""><i class="fa-brands fa-mail"></i></a>
          <a href="https://line.me/ti/p/FVb2aFhYbG"><img src="Image/lineicon.png" class="icon" id="lineicon" alt=""><i class="fa-brands fa-line"></i></a>
        </div>
      </div>
    </div>

    
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

<script>document.documentElement.className = document.documentElement.className.replace('no-js','js');</script>
<script>
  $('body').fadeIn(1000); // fadein time in ms
</script>

</body>

</html>