<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cormorant+Garamond&family=Orbitron:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Charity_aboutUs.css">
  <title>認識我們｜暖 ❤️ 協會</title>
</head>





<body>
  <header>

    <!-- logo圖片 -->
    <img src="Image/Pink White Watercolor Heart Love Yourself First Quote Facebook Post.png" id="logopicture"
      style="float: left; width: 10%; ">



    <!-- 選單 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="Charity_Main.html">暖心基金會</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                認識我們
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_aboutUs.html">協會簡介</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_aboutUs_location.html">協會分點</a></li>
                <li>
                  <!-- <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                最新消息
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_activity.html">暖新消息</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_activity.html">活動訊息</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                捐款/捐物
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="charity_moneydonate.html">愛心捐款</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="charity_donate.html">物資募集</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                愛心義賣
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_sale.html">愛心商品</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                認養孩童
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國內孩童認養</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國外孩童認養</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                加入義工
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="Charity_Volunteer.html">我們需要你</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Charity_Volunteer_Join.html">加入義工表單</a></li>
              </ul>
            </li>

          </ul>


          <a href="Charity_Login.html">
            <button onclick="" class="buttons" id="member"><img src="Image/memberlogo.png" alt=""><a
                href="Charity_menbership.html"></a></button>
          </a>
          <a href="Charity_ShoppingCart.html">
            <button onclick="" class="buttons" id="shoppingCart"><img src="Image/shoppingCartLogo.png" alt=""><a
                href="Charity_ShoppingCart.html"></a></button>
          </a>

        </div>
      </div>
    </nav>
  </header>


  <main>
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="Charity_Main.html">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">認識我們</li>
      </ol>
    </nav>

    <h1>暖心協會簡介</h1>

    <!-- 圖片幻燈片 -->
    <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="Image/foodDonate.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="Image/holding_hands.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="Image/sodierWithChildren.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>


    <div>
      <h1>認識世界展望會</h1>
      <br>
      <div class="box">
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, suscipit? Atque
          eligendi, nisi odio
          officia voluptatibus fugit excepturi, distinctio tenetur a quidem officiis veritatis sit ex eos molestias quis
          sunt!Lorem
        </div>
      </div>
      <br><br>


      <h1>我們的影響力</h1>
      <br>
      <div class="box">
        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde perferendis
          reprehenderit rem ipsam
          praesentium voluptatibus tenetur incidunt sapiente, possimus provident beatae, mollitia consequuntur magnam
          laudantium vitae modi, voluptates ullam!
        </div>
      </div>
      <br><br>



      <!-- 數字跳轉 待完成 -->
      
      <h1>已經幫助..</h1>
      <div id="helpedFamily">
        <div id="days">
          <span class="count">645</span>
          <span>個家庭</span>
        </div>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div id="days">
          <span class="count">3560</span>
          <span>個孩童</span>
        </div>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div id="days">
          <span class="count">1276</span>
          <span>個受助者</span>
        </div>


      </div>








      <!-- </div> -->


      <!-- 可移動的客服小幫手，以免擋住後方內容 -->
      <!-- <figure draggable="true">
              <img src="Image/Customer Support.png" alt="">
              <figcaption>
                  客服小幫手
              </figcaption>
          </figure> -->

  </main>



  <!-- 網頁導覽 -->
  <footer class="footer">
    <div class="footercountainer row">
      <div class="footer-col">
        <h4><a href="Charity_aboutUs.html"></a>認識我們</h4>
        <ul>
          <!-- <li><a href="#">服務對象</a></li> -->
          <li><a href="Charity_aboutUs_location.html">服務據點</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>暖新消息</h4>
        <ul>
          <li><a href="#">協會公告</a></li>
          <li><a href="#">活動訊息 </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>關懷與捐款</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">國內兒童資助</a></li>
          <li><a href="Charity_TaiwanChildren.html">國外兒童資助</a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
          <li><a href="Charity_sale.html">愛心義賣</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>其他</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">會員登入</a></li>
          <li><a href="Charity_TaiwanChildren.html"></a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
        </ul>
      </div>
      <div class="footer-col">

        <!-- 社群媒體 -->
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/"><img src="Image/facebooklogo.png" class="icon" id="fbicon" alt=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/"><img src="Image/instagramlogo.png" class="icon" id="insicon" alt=""><i class="fa-brands fa-instagram"></i></a>
          <a href="mailto:joyce07128989@gmail.com"><img src="Image/mailicon.png" class="icon" id="mailicon" alt=""><i class="fa-brands fa-mail"></i></a>
          <a href="https://line.me/ti/p/FVb2aFhYbG"><img src="Image/lineicon.png" class="icon" id="lineicon" alt=""><i class="fa-brands fa-line"></i></a>
        </div>
      </div>
    </div>

    
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
    $('.count').each(function () {
      $(this).prop('Counter', 0).animate({
        Counter: $(this).text()
      }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      });
    });
  </script>
</body>

</html>