<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
    <link rel="stylesheet" href="Charity_Main.css">
    <title>首頁｜暖 ❤️ 協會</title>
</head>



<body>
    <header>
  
      <!-- logo圖片 -->
      <img src="Image/Pink White Watercolor Heart Love Yourself First Quote Facebook Post.png" id="logopicture"
        style="float: left; width: 10%; ">
  
  
  
      <!-- 選單 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="Charity_Main.html">暖心基金會</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  認識我們
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="Charity_aboutUs.html">協會簡介</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="Charity_aboutUs_location.html">協會分點</a></li>
                  <li>
                    <!-- <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  最新消息
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="Charity_activity.html">暖新消息</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="Charity_activity.html">活動訊息</a></li>
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  捐款/捐物
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">愛心捐款</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="charity_donate.html">物資募集</a></li>
                  <!-- <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  愛心義賣
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="Charity_sale.html">愛心商品</a></li>
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  認養孩童
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國內孩童認養</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="Charity_TaiwanChildren.html">國外孩童認養</a></li>
                </ul>
              </li>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  加入義工
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="Charity_Volunteer.html">我們需要你</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="Charity_Volunteer_Join.html">加入義工表單</a></li>
                </ul>
              </li>
  
            </ul>
  
  
            <a href="Charity_Login.html">
              <button onclick="" class="buttons" id="member"><img src="Image/memberlogo.png" alt=""><a
                  href="Charity_menbership.html"></a></button>
            </a>
            <a href="Charity_ShoppingCart.html">
              <button onclick="" class="buttons" id="shoppingCart"><img src="Image/shoppingCartLogo.png" alt=""><a
                  href="Charity_ShoppingCart.html"></a></button>
            </a>
  
  
  
          </div>
        </div>
      </nav>
    </header>

    <main>

        




    </main>

    <!-- 網頁導覽 -->
  <footer class="footer">
    <div class="footercountainer row">
      <div class="footer-col">
        <h4><a href="Charity_aboutUs.html"></a>認識我們</h4>
        <ul>
          <!-- <li><a href="#">服務對象</a></li> -->
          <li><a href="Charity_aboutUs_location.html">服務據點</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>暖新消息</h4>
        <ul>
          <li><a href="#">協會公告</a></li>
          <li><a href="#">活動訊息 </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>關懷與捐款</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">國內兒童資助</a></li>
          <li><a href="Charity_TaiwanChildren.html">國外兒童資助</a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
          <li><a href="Charity_sale.html">愛心義賣</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><a href="#"></a>其他</h4>
        <ul>
          <li><a href="Charity_TaiwanChildren.html">會員登入</a></li>
          <li><a href="Charity_TaiwanChildren.html"></a></li>
          <li><a href="charity_donate.html">物資募集</a></li>
        </ul>
      </div>
      <div class="footer-col">

        <!-- 社群媒體 -->
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/"><img src="Image/facebooklogo.png" class="icon" id="fbicon" alt=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/"><img src="Image/instagramlogo.png" class="icon" id="insicon" alt=""><i class="fa-brands fa-instagram"></i></a>
          <a href="mailto:joyce07128989@gmail.com"><img src="Image/mailicon.png" class="icon" id="mailicon" alt=""><i class="fa-brands fa-mail"></i></a>
          <a href="https://line.me/ti/p/FVb2aFhYbG"><img src="Image/lineicon.png" class="icon" id="lineicon" alt=""><i class="fa-brands fa-line"></i></a>
        </div>
      </div>
    </div>

    
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

<script>document.documentElement.className = document.documentElement.className.replace('no-js','js');</script>
<script>
  $('body').fadeIn(1000); // fadein time in ms
</script>

</body>

</html>